# BACKEND ENV

# database
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# tokens (openssl rand -base64 32)
SECRET_KEY=your-32-bit-long-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# путь к папке окружений внутри контейнера
ENVIRONMENTS_PATH=/app/environments

# LXD
LXD_URL=https://host.docker.internal:8443
LXD_CERT=/app/lxd-certs/lxd-client.crt
LXD_KEY=/app/lxd-certs/lxd-client.key